/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    text-align: center;
    margin-bottom: 5px;
    gap: 10px;
    margin-bottom: 50px;
    
}

body {
    font-family: Arial, sans-serif;
    background-color:burlywood;
    padding: 20px;
    background: url(https://media1.tenor.com/m/TAIxD-ulneYAAAAC/anime-anime-background.gif) no-repeat;
    background-size: cover;
}

.container {
    max-width: 800px;  
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: fantasy;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: 1 / -1;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.result-form {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
